// @source https://github.com/ant-design/ant-design/blob/master/components/button/style

@import (reference) 'antd/es/button/style/index.less';
@import (reference) '../../style/themes/default.less';

.@{btn-prefix-cls} {
  transition: all 0.15s;

  // @NOTE https://github.com/ant-design/ant-design/issues/32952
  && {
    flex: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  > .anticon + span {
    margin-left: 0px;
  }

  &.@{btn-prefix-cls}-xs {
    .button-size(@btn-height-xs; @btn-padding-horizontal-xs; @btn-font-size-xs; @border-radius-base);
  }

  &.@{btn-prefix-cls}-sm {
    .button-size(@btn-height-sm; @btn-padding-horizontal-sm; @btn-font-size-sm; @border-radius-base);
  }

  &.@{btn-prefix-cls}-xl {
    .button-size(@btn-height-xl; @btn-padding-horizontal-xl; @btn-font-size-xl; @border-radius-base);
  }

  &.@{btn-prefix-cls}-xxl {
    .button-size(@btn-height-xxl; @btn-padding-horizontal-xxl; @btn-font-size-xxl; @border-radius-base);
  }

  &.@{btn-prefix-cls}-secondary {
    .button-variant-other(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-bg);
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: @btn-secondary-color;
      background: @btn-secondary-bg;
      border-color: @btn-secondary-bg;
    }
  }
}
